# Puerto de Vite
VITE_PORT=5174

# URL de la API del backend (solo si no usas el proxy de Vite)
VITE_API_URL=http://localhost:3001/api

# URL del WebSocket del backend (solo si no usas el proxy de Vite)
VITE_WS_URL=ws://localhost:3001/ws

# Targets para proxy de Vite (util en Docker)
VITE_PROXY_HTTP_TARGET=http://localhost:3001
VITE_PROXY_WS_TARGET=ws://localhost:3001
VITE_WALLETCONNECT_PROJECT_ID=
